include base.jade
.container
  .row
    .panel.panel-default
    h1.panel-heading  #{book.book.title}
    .col-md-2.col-sm-4.col-xs-10
      .panel-body
        img(src="#{book.book.cover}")
    .col-md-5.col-sm-7.col-xs-13
      .panel-body
        p Auteur : #{book.book.author}
        p Paru en <i>#{book.book.date}</i> chez <i>#{book.book.editor}</i>
        p Collection : #{book.book.collection}
        p #{book.book.page} Pages au format <i>  #{book.book.format}</i>
    .col-md-5.col-sm-7.col-xs-13
      .panel-body
        p Genre : #{book.book.genre}
        p Langue : #{book.book.language}
        p Prix  : #{book.book.price}€
        p Taille : #{book.book.size}
        p Prix moyen : #{book.book.median}€
        a <a href="#{book.book.amazon}">Voir sur amazon</a>
  .row
    .panel.panel-default
    h3.panel-heading Résumé:
    .col-md-12.col-sm-12.col-xs-12
      .panel-body
        p #{book.book.resume}
