include base.jade
.container
  .row
    .col-md-2.col-sm-4.col-xs-10
      .panel-heading Bienvenue #{sess}
    .col-md-4.col-sm-4.col-xs-10
    .col-md-2.col-sm-4.col-xs-10
      p Valeur éditeur:
      if price
        p #{price.totalPrice}
      else
        p 0
    .col-md-2.col-sm-4.col-xs-10
      p Valeur occasion :
      if price
        p #{price.totalMedianPrice}
      else
        p 0
    .col-md-2.col-sm-4.col-xs-10
      p Nombre de livres :
      if price
        p #{price.count}
      else
        p 0
    .float-left
      .panel-body
        tr
          form(#form action="/addbook" method="post")
              input(type="text" placeholder="isbn du livre" name="isbn" id="isbn")
              input(type="hidden" name="etat" value="0")
              input(type="hidden" name="user" value="#{sess}")
              button(type="submit") Ajouter
        br
        a(href="/logout") Déconnexion
  //.row
    //.alert.alert-dismissible(role="alert",class="alert-warning") #{error}
      //button.close(type="button",data-dismiss="alert" aria-label="Close")
        //span(aria-hidden="true")  &times;
  .row
    .panel.panel-default
    .col-md-12.col-sm-12.col-xs-13
      h4.panel-heading A lire :
      .panel-body
        table.table#myTable
          thead
            tr
              th Image
              th Nom du livre
              th Genre
              th Statut
              th Prix moyen
              th
          tbody
            if books
              each book, i in books
                  tr
                    td
                      img(src="#{book.book.cover}")
                    td
                      a(href="/details?id=#{book._id}") #{book.book.title}
                    if book.book.genre
                      td #{book.book.genre}
                    else
                      td <i> Non renseigné</i>
                    td
                      if book.book.state=="0"
                        p Non lu
                      else if book.book.state==1
                        p Lu
                      else if book.book.state==2
                        p En cours
                    td
                      p #{book.book.median}€
                    if book.book.state==0
                      td
                        a(href="/updatelu?id=#{book._id}") <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        a(href="/updateinprogress?id=#{book._id}") <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                        a(href="/delete?id=#{book._id}") <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    else if book.book.state==1
                      td
                        a(href="/updatealire?id=#{book._id}") <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        a(href="/updateinprogress?id=#{book._id}") <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                        a(href="/delete?id=#{book._id}") <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    else if book.book.state==2
                      td
                        a(href="/updatealire?id=#{book._id}") <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        a(href="/updatelu?id=#{book._id}") <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        a(href="/delete?id=#{book._id}") <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>

  link(href='https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css', rel='stylesheet')
  link(href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
  script( src='https://code.jquery.com/jquery-3.5.1.js')
  script( src='//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js')
  script(type="text/javascript").
    $(document).ready( function () {
      $('#myTable').DataTable();
    } );
