<%- include('base'); -%>
  <style media="screen">

  </style>
  <div class="container-fluid">
    <div class="row mt-3 mb-3">
      <div class="col-8">

        <div class="form-group">
          <div id="spinner" class="spinner-border text-primary" style="display:none" role="status"><span
              class="sr-only">Loading...</span></div>

          <div id="formaddbook" class="input-group mb-3">
            <input type="text" class="form-control" id="isbn" name="isbn" placeholder="Entrer isbn">
            <div class="input-group-append">
              <button class="input-group-text btn btn-primary" type="button" onclick="addBook()">Ajouter</button>
              <button class="btn btn-primary" type="button" onclick="addBookAdvanced()">Ajout avancé</button>
            </div>
          </div>
        </div>

        <div id="response">

        </div>
      </div>
      <div class="col-4">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Valeur éditeur:
            <span class="badge badge-primary badge-pill">
              <%=parseFloat(price.totalPrice).toFixed(2)%>€
            </span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Valeur occasion :
            <span class="badge badge-primary badge-pill">
              <%=parseFloat(price.totalMedianPrice).toFixed(2)%>€
            </span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Nombre de livres :
            <span class="badge badge-primary badge-pill">
              <%= price.count %>
            </span>
          </li>
        </ul>
      </div>
    </div>



    <div id="booklist" class="row justify-content-between">
      <div class="col-3 align-center">
        <ul class="list-group">
          <li class="list-group-item">
            <form action="" method="get">
              <div id="formsearchtitle" class="input-group">
                <input type="text" class="form-control" id="title" name="title" placeholder="Rechercher un titre">
                <div class="input-group-append">
                  <button class="input-group-text btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </form>
          </li>
          <% if (req.query.title) { %>
            <li class="list-group-item d-flex justify-content-between align-items-center"><b>
                <%= req.query.title %>
              </b><a href="/"><i class="far fa-times-circle"></i></a></li>
            <% } %>
          <a href="?page=1">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Tous
            </li>
          </a>
          <% listgenre.forEach(function(gender){ %>
            <% if (gender._id!="Inconnu" ) { %>
              <a href="?page=1&genre=<%= encodeURIComponent(gender._id)%>">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <%= gender._id %>
                    <span class="badge badge-primary badge-pill">
                      <%= gender.count %>
                    </span>
                </li>
              </a>
              <% } else{ %>
                <a href="?page=1&genre=<%= encodeURIComponent(gender._id) %>">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <i> Non renseigné </i>
                    <span class="badge badge-primary badge-pill">
                      <%= gender.count %>
                    </span>
                  </li>
                </a>
                <% } %>
                  <% }) %>
        </ul>
      </div>

      <div id="cardempty" class="card border-primary  p-0  h-100" style="display:none;">
        <div class="card-header" style="overflow:hidden;">
          <h5 id="cardtitle"></h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <img id="cardimg" src="" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <h4 class="card-title"></h4>
              <p class="card-text" id="cardresume"></p>
              <a id="carddetails" href="">Détails</a>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          <div class="row">
            <span id="status"></span>
            <ul id="actionbutton" class="pagination"></ul>
          </div>
        </div>
      </div>

      <div class="col-9">
        <div class="row" style="">
          <% books.forEach(function(book){ %>
            <div class="mt-3 col-md-12 col-lg-6 col-xl-4">
              <div id="<%= book._id %>" class="card border-primary p-0  h-100" style="">
                <div class="card-header" style="overflow:hidden;">
                  <h5>
                    <%= book.book.title%>
                  </h5>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4">
                      <img src="<%= book.book.cover %>" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                      <h4 class="card-title"></h4>
                      <p class="card-text">
                        <%= book.book.resume.substring(0, 100) %>...
                      </p>
                      <a href="/details?id=<%= book._id %>">Détails</a>
                    </div>
                  </div>
                </div>

                <div class="card-footer text-muted">
                  <div class="row">
                    <span id="status">
                      <% switch (book.book.state) { case '0' : %>
                        <p class="text-warning">Non lu</p>
                        <% break; case '1' : %>
                          <p class="text-success">Lu</p>
                          <% break; case '2' : %>
                            <p class="text-info">En cours</p>
                            <% break; } %>
                    </span>
                    <ul id="actionbutton" class="pagination ml-auto">
                      <% switch (book.book.state) { case '0' : %>
                        <li class="page-item"><button type="button" class="btn btn-primary"
                            onclick="lu('<%= book._id %>')" name="button"><i
                              class="fas fa-clipboard-check"></i></button></li>
                        <li class="page-item"><button type="button" class="btn btn-primary"
                            onclick="inprogress('<%= book._id %>')" name="button"><i
                              class="fas fa-book-reader"></i></button></li>
                        <% break; case '1' : %>
                          <li class="page-item"><button type="button" class="btn btn-primary"
                              onclick="alire('<%= book._id %>')" name="button"><i class="fas fa-eye-slash"></i></button>
                          </li>
                          <li class="page-item"><button type="button" class="btn btn-primary"
                              onclick="inprogress('<%= book._id %>')" name="button"><i
                                class="fas fa-book-reader"></i></button></li>
                          <% break; case '2' : %>
                            <li class="page-item"><button type="button" class="btn btn-primary"
                                onclick="alire('<%= book._id %>')" name="button"><i
                                  class="fas fa-eye-slash"></i></button></li>
                            <li class="page-item"><button type="button" class="btn btn-primary"
                                onclick="lu('<%= book._id %>')" name="button"><i
                                  class="fas fa-clipboard-check"></i></button></li>
                            <% break; } %>
                              <li class="page-item"><button type="button" class="btn btn-primary"
                                  onclick="deletebook('<%= book._id %>')" name="button"><i
                                    class="fas fa-trash-alt"></i></button></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <% })%>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <ul class="pagination">
      <% if (totalPages!=1) { %>
        <% for(var i=1; i<=totalPages; i++) {%>
          <% if (i==currentPage) { %>
            <li class="page-item active">
              <a class="page-link" href="#">
                <%= i %>
              </a>
            </li>
            <% } else { %>
              <% if (genre!='' ) { %>
                <li class="page-item">
                  <a class="page-link" href="?page=<%=i%>&genre=<%=genre%>">
                    <%= i %>
                  </a>
                </li>
                <% } else { %>
                  <li class="page-item">
                    <a class="page-link" href="?page=<%=i%>">
                      <%= i %>
                    </a>
                  </li>
                  <% } %>
                    <% } %>
                      <% } %>
                      <% } %>
      </ul>
    </div>


    <link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script>
      function inprogress(id) {
        var id = {
          id: id
        }
        var xhr = new window.XMLHttpRequest()
        xhr.open('POST', '/updateinprogress', true)
        xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8')
        xhr.send(JSON.stringify(id))
        xhr.onreadystatechange = function () {
          if (xhr.readyState == 4 && xhr.status == 200) {
            var jsonResponse = JSON.parse(xhr.responseText);
            refreshBook(jsonResponse);
            console.log(jsonResponse);
          } else if (xhr.readyState == 4 && xhr.status != 200) {
            alert('ko');
          }
        }
      }
      function alire(id) {
        var id = {
          id: id
        }
        var xhr = new window.XMLHttpRequest()
        xhr.open('POST', '/updatealire', true)
        xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8')
        xhr.send(JSON.stringify(id))
        xhr.onreadystatechange = function () {
          if (xhr.readyState == 4 && xhr.status == 200) {
            var jsonResponse = JSON.parse(xhr.responseText);
            refreshBook(jsonResponse);
            console.log(jsonResponse);
          } else if (xhr.readyState == 4 && xhr.status != 200) {
            console.log('ko');
          }
        }
      }
      function deletebook(id) {
        var id = {
          id: id
        }
        var xhr = new window.XMLHttpRequest()
        xhr.open('POST', '/delete', true)
        xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8')
        xhr.send(JSON.stringify(id))
        xhr.onreadystatechange = function () {
          if (xhr.readyState == 4 && xhr.status == 200) {
            var jsonResponse = JSON.parse(xhr.responseText);
            removeBook(jsonResponse.id);
          } else if (xhr.readyState == 4 && xhr.status != 200) {
            console.log('ko');
          }
        }
      }
      function lu(id) {
        var id = {
          id: id
        }
        var xhr = new window.XMLHttpRequest()
        xhr.open('POST', '/updatelu', true)
        xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8')
        xhr.send(JSON.stringify(id))
        xhr.onreadystatechange = function () {
          if (xhr.readyState == 4 && xhr.status == 200) {
            var jsonResponse = JSON.parse(xhr.responseText);
            refreshBook(jsonResponse);
            console.log(jsonResponse);
          } else if (xhr.readyState == 4 && xhr.status != 200) {
            console.log('ko');
          }
        }
      }
      function refreshBook(bookdata) {
        let bookelem = document.getElementById(bookdata._id);
        bookelem.querySelector("#status").innerHTML = statefromint(bookdata.book.state);
        bookelem.querySelector("#actionbutton").innerHTML = actionfromint(bookdata.book.state, bookdata._id);
      }
      function removeBook(id) {
        var el = document.getElementById(id);
        el.remove();
      }

      function statefromint(state) {
        switch (state) {
          case '0':
            return "Non Lu"
            break;
          case '1':
            return "Lu"
            break;
          case '2':
            return "En cours"
            break;
          default:
            return "Oops"
            break;
        }
      }

      function actionfromint(state, id) {
        switch (state) {
          case '0':
            return '<li class="page-item"><button type="button" class="btn btn-primary" onclick="lu(\'' + id + '\')" name="button"><i  class="fas fa-clipboard-check"></i></button></li><li class="page-item"><button type="button" class="btn btn-primary" onclick="inprogress(\'' + id + '\')" name="button"><i class="fas fa-book-reader"></i></button></li>'
            break;
          case '1':
            return '<li class="page-item"><button type="button" class="btn btn-primary" onclick="alire(\'' + id + '\')" name="button"><i class="fas fa-eye-slash"></i></button></li><li class="page-item"><button type="button" class="btn btn-primary" onclick="inprogress(\'' + id + '\')" name="button"><i class="fas fa-book-reader"></i></button></li>'
            break;
          case '2':
            return '<li class="page-item"><button type="button" class="btn btn-primary" onclick="alire(\'' + id + '\')" name="button"><i class="fas fa-eye-slash"></i></button></li><li class="page-item"><button type="button" class="btn btn-primary" onclick="lu(\'' + id + '\')" name="button"><i  class="fas fa-clipboard-check"></i></button></li>'
            break;
          default:
            return "Oops"
            break;
        }
      }
      function populateBook(bookdata) {
        let newcard = document.getElementById('cardempty').cloneNode(true);
        console.log(bookdata);
        newcard.id = bookdata._id;
        newcard.querySelector("#cardtitle").innerHTML = bookdata.book.title;
        newcard.querySelector('#cardresume').innerHTML = bookdata.book.title;
        newcard.querySelector('#cardimg').setAttribute("src", bookdata.book.cover);
        newcard.querySelector('#carddetails').setAttribute("href", "/details?id=" + bookdata._id);
        newcard.querySelector("#status").innerHTML = statefromint(bookdata.book.state);
        newcard.querySelector("#actionbutton").innerHTML = actionfromint(bookdata.book.state, bookdata._id);
        document.getElementById('booklist').append(newcard);
        newcard.style.display = 'block';
      }
      function addBookAdvanced() {
        window.location.replace("/addbookadvanced?isbn=" + document.getElementById('isbn').value);

      }
      function addBook() {
        let form = document.getElementById('formaddbook');
        var isbn = {
          isbn: document.getElementById('isbn').value
        }
        document.getElementById('formaddbook').style.display = "none";
        document.getElementById('spinner').style.display = 'block';
        var xhr = new window.XMLHttpRequest()
        xhr.open('POST', '/addbook', true)
        xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8')
        xhr.send(JSON.stringify(isbn))
        xhr.onreadystatechange = function () {
          if (xhr.readyState == 4 && xhr.status == 200) {
            var jsonResponse = JSON.parse(xhr.responseText);
            populateBook(jsonResponse);
            flash = document.getElementById('response');
            flash.innerHTML = '<div class="alert alert-dismissible alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button><strong>Parfait ! </strong> "<b>' + jsonResponse.book.title + '</b>" a correctement été ajouté !</div>';
          } else if (xhr.readyState == 4 && xhr.status != 200) {
            flash = document.getElementById('response');
            flash.innerHTML = '<div class="alert alert-dismissible alert-danger"><button type="button" class="close" data-dismiss="alert">&times;</button><strong>Oh mince!</strong> il semblerait qu\'il n\'y ait aucun résultat pour cet ISBN.</div>'
          }
          document.getElementById('formaddbook').style.display = "flex";
          document.getElementById('spinner').style.display = 'none';
        }
      }
    </script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('#myTable').DataTable();
      });
    </script>
  </div>