<%- include('base'); -%>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@8.2.1/dist/css/autoComplete.min.css">

    <style media="screen">

    </style>
    <div class="container ">

        <div class="row mt-3 mb-3">
            <div class="col-8">

                <div class="form-group">

                    <div id="formaddmusic" class="input-group mb-3">

                        <input type="text" class="form-control" id="ean" name="ean"
                            placeholder="Entrer code barre ou titre">

                        <ul id="resultsList" class="list-group">

                        </ul>
                        <div class="input-group-append">
                            <button class="input-group-text btn btn-primary" type="button"
                                onclick="searchMusic()">Rechercher</button>
                            <button class="btn btn-primary" type="button" onclick="addManual()">Ajout manuel</button>
                        </div>
                    </div>
                </div>

                <div id="response">

                </div>



            </div>
            <div class="ml-auto col-4">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Nombre de CD / Vinyle :
                        <% if(typeof price !=='undefined' ){ %>
                            <span class="badge badge-primary badge-pill">
                                <%= price.count %>
                            </span>
                            <% }else{ %>
                                <span class="badge badge-primary badge-pill">0</span>
                                <% } %>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center" id='quotaapi'></li>
                </ul>
            </div>
        </div>


        <div id="musiclist" class="row justify-content-between">
            <div id="cardempty" class="card border-primary mb-3" style="max-width: 30%;display:none;">

                <div class="card-header" style="overflow:hidden;">
                    <h5 id="cardtitle"></h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img id="cardimg" src="" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <h4 class="card-title"></h4>
                            <p class="card-text" id="cardresume"></p>
                            <a id="carddetails" href="">Détails</a>
                        </div>
                    </div>

                </div>

                <div class="card-footer text-muted">
                    <div class="row">
                        <span id="status"></span>
                        <ul id="actionbutton" class="pagination ml-auto"></ul>
                    </div>
                </div>

            </div>
            <% musics.forEach(function(music){ %>
                <div id="<%= music._id %>" class="card border-primary mb-3" style="max-width: 30%;">

                    <div class="card-header" style="overflow:hidden;">
                        <h5>
                            <%= music.music.title%>
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="<%= music.music.cover %>" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <h4 class="card-title"></h4>
                                <p class="card-text">
                                    <%= music.music.releasedate %>...
                                </p>
                                <a href="/details?id=<%= music._id %>">Détails</a>
                            </div>
                        </div>

                    </div>

                    <div class="card-footer text-muted">
                        <div class="row">


                            <span id="status">
                                <% switch (music.music.state) { case '0' : %>
                                    <p class="text-warning">Non lu</p>
                                    <% break; case '1' : %>
                                        <p class="text-success">Lu</p>

                                        <% break; case '2' : %>
                                            <p class="text-info">En cours</p>
                                            <% break; } %>
                            </span>

                            <ul id="actionbutton" class="pagination ml-auto">

                                <% switch (music.music.state) { case '0' : %>

                                    <li class="page-item"><button type="button" class="btn btn-primary"
                                            onclick="lu('<%= music._id %>')" name="button"><i
                                                class="fas fa-clipboard-check"></i></button></li>
                                    <li class="page-item"><button type="button" class="btn btn-primary"
                                            onclick="inprogress('<%= music._id %>')" name="button"><i
                                                class="fas fa-book-reader"></i></button></li>

                                    <% break; case '1' : %>
                                        <li class="page-item"><button type="button" class="btn btn-primary"
                                                onclick="alire('<%= music._id %>')" name="button"><i
                                                    class="fas fa-eye-slash"></i></button></li>
                                        <li class="page-item"><button type="button" class="btn btn-primary"
                                                onclick="inprogress('<%= music._id %>')" name="button"><i
                                                    class="fas fa-book-reader"></i></button></li>
                                        <% break; case '2' : %>
                                            <li class="page-item"><button type="button" class="btn btn-primary"
                                                    onclick="alire('<%= music._id %>')" name="button"><i
                                                        class="fas fa-eye-slash"></i></button></li>
                                            <li class="page-item"><button type="button" class="btn btn-primary"
                                                    onclick="lu('<%= music._id %>')" name="button"><i
                                                        class="fas fa-clipboard-check"></i></button></li>

                                            <% break; } %>
                                                <li class="page-item"><button type="button" class="btn btn-primary"
                                                        onclick="deletebook('<%= music._id %>')" name="button"><i
                                                            class="fas fa-trash-alt"></i></button></li>

                            </ul>
                        </div>
                    </div>

                </div>

                <% })%>

        </div>
        
        
        
</div>
    <script>
        
            async function searchMusic() {
                const query = document.querySelector("#ean").value;
                musiclist = document.querySelector('#resultsList');
                if (query.length > 2) {
                    const source = await fetch(`music/searchmusic?value=${query}`);
                    const data = await source.json();
                    const musics = data
                    let html=''
                    console.log(data)
                    console.log("ok")
                    if (undefined != musics) {
                        if (musics.length > 0 && Array.isArray(musics)) {
                            musics.forEach(function(music){
                                if( music.format === undefined){
                                }else{
                                    html =html+ '<li class="list-group-item d-flex justify-content-between align-items-center"><img src="' + music.thumb + '" alt="">' + music.title + '<span class="badge badge-primary badge-pill"> ' + music.format[0] + '</span><input type="button" onclick="addMusic(\'' + music.id + '\')" value="Ajouter"></li>';
                                }
                            });
                        } else {
                            html = html+'<li class="list-group-item d-flex justify-content-between align-items-center">Aucun résultat</li>'
                           // html = '<li class="list-group-item d-flex justify-content-between align-items-center">' + musics.title +  ' - ' + music["artist-credit"][0].artist.name +'<span class="badge badge-primary badge-pill"> ' + musics.media[0].format + '</span></li>'
                        }
                    } else {
                        html = '<li class="list-group-item d-flex justify-content-between align-items-center">Aucun résultat</li>'
                    }
                    musiclist.innerHTML = html;
                }
            }

            async function addMusic(idcd) {
                var id = {
                    id:idcd
                }
                const source = await fetch("music/addmusic", {
                    method: "POST",
                    body: JSON.stringify(id),
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                });
                const data = await source.json();
                const music = data
                console.log(music)
                let html
            }
        </script>

    </div>